In [275]:
library(repr)
library(tidyverse)

library(tidymodels)
library(gridExtra)
set.seed(1)
options(repr.matrix.max.rows = 10)

In [276]:
players_data<-read_csv("https://raw.githubusercontent.com/lilypurdy/toy_ds_project/refs/heads/main/players%20(2).csv")
head(players_data, 5)

Rows: 196 Columns: 7
── Column specification ────────────────────────────────────────────────────────
Delimiter: ","
chr (4): experience, hashedEmail, name, gender
dbl (2): played_hours, Age
lgl (1): subscribe

ℹ Use `spec()` to retrieve the full column specification for this data.
ℹ Specify the column types or set `show_col_types = FALSE` to quiet this message.

  experience subscribe
1 Pro         TRUE
2 Veteran     TRUE
3 Veteran    FALSE
4 Amateur     TRUE
5 Regular     TRUE
  hashedEmail                                                      played_hours
1 f6daba428a5e19a3d47574858c13550499be23603422e6a0ee9728f8b53e192d 30.3
2 f3c813577c458ba0dfef80996f8f32c93b6e8af1fa939732842f2312358a88e9  3.8
3 b674dd7ee0d24096d1c019615ce4d12b20fcbff12d79d3c5a9d2118eb7ccbb28  0.0
4 23fe711e0e3b77f1da7aa221ab1192afe21648d47d2b4fa7a5a659ff443a0eb5  0.7
5 7dc01f10bf20671ecfccdac23812b1b415acd42c2147cb0af4d48fcce2420f3e  0.1
  name      gender Age
1 Morgan    Male    9
2 Christian Male   17
3 Blake     Male   17
4 Flora     Female 21
5 Kylie     Male   21

In [277]:
clean_players_data <- read_csv("https://raw.githubusercontent.com/Jamesnam1/toy_ds_project/refs/heads/main/players.csv",
    col_names = c("experience", "subscribed", "hashed_email", "hours_played", "name", "gender", "age"),
                col_types = list("c", "l", "c", "d", "c", "c", "i"))
clean_players_data

Warning message:
“One or more parsing issues, call `problems()` on your data frame for details,
e.g.:
  dat <- vroom(...)
  problems(dat)”

    experience subscribed
1   experience    NA
2   Pro         TRUE
3   Veteran     TRUE
4   Veteran    FALSE
5   Amateur     TRUE
⋮   ⋮          ⋮
193 Amateur     TRUE
194 Veteran    FALSE
195 Amateur    FALSE
196 Amateur    FALSE
197 Pro         TRUE
    hashed_email
1   hashedEmail
2   f6daba428a5e19a3d47574858c13550499be23603422e6a0ee9728f8b53e192d
3   f3c813577c458ba0dfef80996f8f32c93b6e8af1fa939732842f2312358a88e9
4   b674dd7ee0d24096d1c019615ce4d12b20fcbff12d79d3c5a9d2118eb7ccbb28
5   23fe711e0e3b77f1da7aa221ab1192afe21648d47d2b4fa7a5a659ff443a0eb5
⋮   ⋮
193 b6e9e593b9ec51c5e335457341c324c34a2239531e1890b93ca52ac1dc76b08f
194 71453e425f07d10da4fa2b349c83e73ccdf0fb3312f778b35c5802c3292c87bd
195 d572f391d452b76ea2d7e5e53a3d38bfd7499c7399db299bd4fedb06a46ad5bb
196 f19e136ddde68f365afc860c725ccff54307dedd13968e896a9f890c40aea436
197 d9473710057f7d42f36570f0be83817a4eea614029ff90cf50d8889cdd729d11
    hours_played name      gender            age
1     NA         name      gender            NA
2   30.3         Morgan    Male               9
3    3.8         Christian Male              17
4    0.0         Blake     Male              17
5    0.7         Flora     Female            21
⋮   ⋮            ⋮         ⋮                 ⋮
193 0.0          Bailey    Female            17
194 0.3          Pascal    Male              22
195 0.0          Dylan     Prefer not to say 17
196 2.3          Harlow    Male              17
197 0.2          Ahmed     Other             NA

In [278]:
players <- clean_players_data |>
  select(-hashed_email, -subscribed, -name, -gender) |>
  filter(!is.na(age)) |>
  mutate(
    experience = case_when(
      experience == "Pro" ~ 5,
      experience == "Veteran" ~ 4,
      experience == "Amateur" ~ 3,
      experience == "Regular" ~ 2,
      experience == "Beginner" ~ 1,
      TRUE ~ NA_real_
    )
  )
players

    experience hours_played age
1   5          30.3          9
2   4           3.8         17
3   4           0.0         17
4   3           0.7         21
5   2           0.1         21
⋮   ⋮          ⋮            ⋮
190 3          0.0          20
191 3          0.0          17
192 4          0.3          22
193 3          0.0          17
194 3          2.3          17

In [279]:
set.seed(2)

split_data <- initial_split(players, prop = 3/4, strata = hours_played)

training_data <- training(split_data)
testing_data <- testing(split_data)

head(training_data)

  experience hours_played age
1 4          0.0          17
2 2          0.1          21
3 3          0.0          17
4 3          0.0          21
5 3          0.1          17
6 5          0.0          17

In [280]:
set.seed(2)

data_recipe <- recipe(hours_played ~ age + experience, data = training_data) |>
  step_scale(all_predictors()) |>
  step_center(all_predictors())

data_spec <- nearest_neighbor(weight_func = "rectangular", neighbors = tune()) |>
  set_engine("kknn") |>
  set_mode("regression")

data_vfold <- vfold_cv(training_data, v = 5, strata = hours_played)

data_wkflw <- workflow() |>
  add_recipe(data_recipe) |>
  add_model(data_spec)

data_wkflw

══ Workflow ════════════════════════════════════════════════════════════════════
Preprocessor: Recipe
Model: nearest_neighbor()

── Preprocessor ────────────────────────────────────────────────────────────────
2 Recipe Steps

• step_scale()
• step_center()

── Model ───────────────────────────────────────────────────────────────────────
K-Nearest Neighbor Model Specification (regression)

Main Arguments:
  neighbors = tune()
  weight_func = rectangular

Computational engine: kknn

In [ ]:
set.seed(2)
gridvals <- tibble(neighbors = seq(1, 100))
data_multi <- data_wkflw |>
  tune_grid(resamples = data_vfold, grid = gridvals) |>
  collect_metrics() |>
  filter(.metric == "rmse") |>
  filter(mean == min(mean, na.rm = TRUE))

data_k <- data_multi |> pull(neighbors)
data_k

In [ ]:
set.seed(2)
final_spec <- nearest_neighbor(weight_func = "rectangular", neighbors = data_k) |>
  set_engine("kknn") |>
  set_mode("regression")

knn_mult_fit <- workflow() |>
  add_recipe(data_recipe) |>
  add_model(final_spec) |>
  fit(data = training_data)

# Step 8: Evaluate on testing data
knn_mult_preds <- knn_mult_fit |>
  predict(testing_data) |>
  bind_cols(testing_data)

knn_mult_mets <- metrics(knn_mult_preds, truth = hours_played, estimate = .pred) |>
  filter(.metric == "rmse")

print(knn_mult_mets)

In [ ]:
set.seed(2)

age_prediction_grid <- expand_grid(
  age = seq(
    from = players |> pull(age) |> min(na.rm = TRUE),
    to = players |> pull(age) |> max(na.rm = TRUE),
    by = 10
  ),
  experience = 1:5)

age_prediction_grid

In [ ]:

data_preds <- knn_mult_fit  |>
  predict(age_prediction_grid) |>
  bind_cols(age_prediction_grid)

plot_final <- ggplot(players, aes(x = age, y = hours_played)) +
  geom_point(alpha = 0.4) +
  geom_line(data = data_preds, aes(x = age, y = .pred), color = "steelblue", linewidth = 1) +
  xlab("Age of Player (years)") +
  ylab("Hours Played") +
  ggtitle(paste0("K = ", data_k)) +
  scale_y_log10(labels = comma) +
  scale_x_log10(labels = comma) +
  theme_minimal(base_size = 12)

plot_final