In [1]:
library(repr)
library(tidyverse)

library(tidymodels)
library(gridExtra)
set.seed(1)
options(repr.matrix.max.rows = 10)

── Attaching core tidyverse packages ──────────────────────── tidyverse 2.0.0 ──
✔ dplyr     1.1.4     ✔ readr     2.1.5
✔ forcats   1.0.0     ✔ stringr   1.5.1
✔ ggplot2   3.5.1     ✔ tibble    3.2.1
✔ lubridate 1.9.3     ✔ tidyr     1.3.1
✔ purrr     1.0.2
── Conflicts ────────────────────────────────────────── tidyverse_conflicts() ──
✖ dplyr::filter() masks stats::filter()
✖ dplyr::lag()    masks stats::lag()
ℹ Use the conflicted package (<http://conflicted.r-lib.org/>) to force all conflicts to become errors
── Attaching packages ────────────────────────────────────── tidymodels 1.1.1 ──

✔ broom        1.0.6     ✔ rsample      1.2.1
✔ dials        1.3.0     ✔ tune         1.1.2
✔ infer        1.0.7     ✔ workflows    1.1.4
✔ modeldata    1.4.0     ✔ workflowsets 1.0.1
✔ parsnip      1.2.1     ✔ yardstick    1.3.1
✔ recipes      1.1.0

── Conflicts ───────────────────────────────────────── tidymodels_conflicts() ──
✖ scales::discard() masks purrr::discard()
✖ dplyr::filter()   masks stats::filter()
✖ recipes::fixed()  masks stringr::fixed()
✖ dplyr::lag()      masks stats::lag()
✖ yardstick::spec() masks readr::spec()
✖ recipes::step()   masks stats::step()
• Use tidymodels_prefer() to resolve common conflicts.


Attaching package: ‘gridExtra’


The following object is masked from ‘package:dplyr’:

    combine

# Classification

* We have to change the claim to something like this:

 *We can predict wether or not an individual is signed up to recieve news letter by using their age and experience level.*

 We do this by knn classification model and furthermore use our tools to check the accuracy (or precision) of the model that we built.

In [31]:
players_data<-read_csv("https://raw.githubusercontent.com/lilypurdy/toy_ds_project/refs/heads/main/players%20(2).csv")
head(players_data, 5)

Rows: 196 Columns: 7
── Column specification ────────────────────────────────────────────────────────
Delimiter: ","
chr (4): experience, hashedEmail, name, gender
dbl (2): played_hours, Age
lgl (1): subscribe

ℹ Use `spec()` to retrieve the full column specification for this data.
ℹ Specify the column types or set `show_col_types = FALSE` to quiet this message.

  experience subscribe
1 Pro         TRUE
2 Veteran     TRUE
3 Veteran    FALSE
4 Amateur     TRUE
5 Regular     TRUE
  hashedEmail                                                      played_hours
1 f6daba428a5e19a3d47574858c13550499be23603422e6a0ee9728f8b53e192d 30.3
2 f3c813577c458ba0dfef80996f8f32c93b6e8af1fa939732842f2312358a88e9  3.8
3 b674dd7ee0d24096d1c019615ce4d12b20fcbff12d79d3c5a9d2118eb7ccbb28  0.0
4 23fe711e0e3b77f1da7aa221ab1192afe21648d47d2b4fa7a5a659ff443a0eb5  0.7
5 7dc01f10bf20671ecfccdac23812b1b415acd42c2147cb0af4d48fcce2420f3e  0.1
  name      gender Age
1 Morgan    Male    9
2 Christian Male   17
3 Blake     Male   17
4 Flora     Female 21
5 Kylie     Male   21

In [32]:
clean_players_data <- read_csv("https://raw.githubusercontent.com/Jamesnam1/toy_ds_project/refs/heads/main/players.csv",
    col_names = c("experience", "subscribed", "hashed_email", "hours_played", "name", "gender", "age"),
                col_types = list("c", "l", "c", "d", "c", "c", "i"))
clean_players_data

Warning message:
“One or more parsing issues, call `problems()` on your data frame for details,
e.g.:
  dat <- vroom(...)
  problems(dat)”

    experience subscribed
1   experience    NA
2   Pro         TRUE
3   Veteran     TRUE
4   Veteran    FALSE
5   Amateur     TRUE
⋮   ⋮          ⋮
193 Amateur     TRUE
194 Veteran    FALSE
195 Amateur    FALSE
196 Amateur    FALSE
197 Pro         TRUE
    hashed_email
1   hashedEmail
2   f6daba428a5e19a3d47574858c13550499be23603422e6a0ee9728f8b53e192d
3   f3c813577c458ba0dfef80996f8f32c93b6e8af1fa939732842f2312358a88e9
4   b674dd7ee0d24096d1c019615ce4d12b20fcbff12d79d3c5a9d2118eb7ccbb28
5   23fe711e0e3b77f1da7aa221ab1192afe21648d47d2b4fa7a5a659ff443a0eb5
⋮   ⋮
193 b6e9e593b9ec51c5e335457341c324c34a2239531e1890b93ca52ac1dc76b08f
194 71453e425f07d10da4fa2b349c83e73ccdf0fb3312f778b35c5802c3292c87bd
195 d572f391d452b76ea2d7e5e53a3d38bfd7499c7399db299bd4fedb06a46ad5bb
196 f19e136ddde68f365afc860c725ccff54307dedd13968e896a9f890c40aea436
197 d9473710057f7d42f36570f0be83817a4eea614029ff90cf50d8889cdd729d11
    hours_played name      gender            age
1     NA         name      gender            NA
2   30.3         Morgan    Male               9
3    3.8         Christian Male              17
4    0.0         Blake     Male              17
5    0.7         Flora     Female            21
⋮   ⋮            ⋮         ⋮                 ⋮
193 0.0          Bailey    Female            17
194 0.3          Pascal    Male              22
195 0.0          Dylan     Prefer not to say 17
196 2.3          Harlow    Male              17
197 0.2          Ahmed     Other             NA

In [33]:
players <- clean_players_data |>
  select(-hashed_email, -hours_played, -name, -gender) |>
  filter(!is.na(age)) |>
  mutate(
    experience = case_when(
      experience == "Pro" ~ 5,
      experience == "Veteran" ~ 4,
      experience == "Amateur" ~ 3,
      experience == "Regular" ~ 2,
      experience == "Beginner" ~ 1,
      TRUE ~ NA_real_
    )
  ) |>
mutate(subscribed = as_factor(subscribed))
players

    experience subscribed age
1   5          TRUE        9
2   4          TRUE       17
3   4          FALSE      17
4   3          TRUE       21
5   2          TRUE       21
⋮   ⋮          ⋮          ⋮
190 3          TRUE       20
191 3          TRUE       17
192 4          FALSE      22
193 3          FALSE      17
194 3          FALSE      17

In [34]:


Wdbc_recipe <- recipe(subscribed ~ age + experience, data = players) |>                     
  step_center(all_predictors()) |>  
  step_scale(all_predictors())     

Wdbc_model <- nearest_neighbor(weight_func = "rectangular", neighbors = 3) |>
  set_engine("kknn") |>
  set_mode("classification")

Wdbc_workflow <- workflow() |>
  add_recipe(Wdbc_recipe) |>
  add_model(Wdbc_model)

Wdbc_fit <- Wdbc_workflow |>
  fit(data = players)

new_obs <- tibble(age = 18, experience = 4)  
predict(Wdbc_fit, new_obs)

  .pred_class
1 FALSE