In [1]:
library(repr)
library(tidyverse)
library(tidymodels)
library(gridExtra)
set.seed(1)
options(repr.matrix.max.rows = 10)

── Attaching core tidyverse packages ──────────────────────── tidyverse 2.0.0 ──
✔ dplyr     1.1.4     ✔ readr     2.1.5
✔ forcats   1.0.0     ✔ stringr   1.5.1
✔ ggplot2   3.5.1     ✔ tibble    3.2.1
✔ lubridate 1.9.3     ✔ tidyr     1.3.1
✔ purrr     1.0.2
── Conflicts ────────────────────────────────────────── tidyverse_conflicts() ──
✖ dplyr::filter() masks stats::filter()
✖ dplyr::lag()    masks stats::lag()
ℹ Use the conflicted package (<http://conflicted.r-lib.org/>) to force all conflicts to become errors
── Attaching packages ────────────────────────────────────── tidymodels 1.1.1 ──

✔ broom        1.0.6     ✔ rsample      1.2.1
✔ dials        1.3.0     ✔ tune         1.1.2
✔ infer        1.0.7     ✔ workflows    1.1.4
✔ modeldata    1.4.0     ✔ workflowsets 1.0.1
✔ parsnip      1.2.1     ✔ yardstick    1.3.1
✔ recipes      1.1.0

── Conflicts ───────────────────────────────────────── tidymodels_conflicts() ──
✖ scales::discard() masks purrr::discard()
✖ dplyr::filter()   masks stats::filter()
✖ recipes::fixed()  masks stringr::fixed()
✖ dplyr::lag()      masks stats::lag()
✖ yardstick::spec() masks readr::spec()
✖ recipes::step()   masks stats::step()
• Use suppressPackageStartupMessages() to eliminate package startup messages


Attaching package: ‘gridExtra’


The following object is masked from ‘package:dplyr’:

    combine

In [2]:
players_data<-read_csv("https://raw.githubusercontent.com/lilypurdy/toy_ds_project/refs/heads/main/players%20(2).csv")
head(players_data, 5)

Rows: 196 Columns: 7
── Column specification ────────────────────────────────────────────────────────
Delimiter: ","
chr (4): experience, hashedEmail, name, gender
dbl (2): played_hours, Age
lgl (1): subscribe

ℹ Use `spec()` to retrieve the full column specification for this data.
ℹ Specify the column types or set `show_col_types = FALSE` to quiet this message.

  experience subscribe
1 Pro         TRUE
2 Veteran     TRUE
3 Veteran    FALSE
4 Amateur     TRUE
5 Regular     TRUE
  hashedEmail                                                      played_hours
1 f6daba428a5e19a3d47574858c13550499be23603422e6a0ee9728f8b53e192d 30.3
2 f3c813577c458ba0dfef80996f8f32c93b6e8af1fa939732842f2312358a88e9  3.8
3 b674dd7ee0d24096d1c019615ce4d12b20fcbff12d79d3c5a9d2118eb7ccbb28  0.0
4 23fe711e0e3b77f1da7aa221ab1192afe21648d47d2b4fa7a5a659ff443a0eb5  0.7
5 7dc01f10bf20671ecfccdac23812b1b415acd42c2147cb0af4d48fcce2420f3e  0.1
  name      gender Age
1 Morgan    Male    9
2 Christian Male   17
3 Blake     Male   17
4 Flora     Female 21
5 Kylie     Male   21

In [3]:
clean_players_data <- read_csv("https://raw.githubusercontent.com/Jamesnam1/toy_ds_project/refs/heads/main/players.csv",
    col_names = c("experience", "subscribed", "hashed_email", "hours_played", "name", "gender", "age"),
                col_types = list("c", "l", "c", "d", "c", "c", "i"))
clean_players_data

Warning message:
“One or more parsing issues, call `problems()` on your data frame for details,
e.g.:
  dat <- vroom(...)
  problems(dat)”

    experience subscribed
1   experience    NA
2   Pro         TRUE
3   Veteran     TRUE
4   Veteran    FALSE
5   Amateur     TRUE
⋮   ⋮          ⋮
193 Amateur     TRUE
194 Veteran    FALSE
195 Amateur    FALSE
196 Amateur    FALSE
197 Pro         TRUE
    hashed_email
1   hashedEmail
2   f6daba428a5e19a3d47574858c13550499be23603422e6a0ee9728f8b53e192d
3   f3c813577c458ba0dfef80996f8f32c93b6e8af1fa939732842f2312358a88e9
4   b674dd7ee0d24096d1c019615ce4d12b20fcbff12d79d3c5a9d2118eb7ccbb28
5   23fe711e0e3b77f1da7aa221ab1192afe21648d47d2b4fa7a5a659ff443a0eb5
⋮   ⋮
193 b6e9e593b9ec51c5e335457341c324c34a2239531e1890b93ca52ac1dc76b08f
194 71453e425f07d10da4fa2b349c83e73ccdf0fb3312f778b35c5802c3292c87bd
195 d572f391d452b76ea2d7e5e53a3d38bfd7499c7399db299bd4fedb06a46ad5bb
196 f19e136ddde68f365afc860c725ccff54307dedd13968e896a9f890c40aea436
197 d9473710057f7d42f36570f0be83817a4eea614029ff90cf50d8889cdd729d11
    hours_played name      gender            age
1     NA         name      gender            NA
2   30.3         Morgan    Male               9
3    3.8         Christian Male              17
4    0.0         Blake     Male              17
5    0.7         Flora     Female            21
⋮   ⋮            ⋮         ⋮                 ⋮
193 0.0          Bailey    Female            17
194 0.3          Pascal    Male              22
195 0.0          Dylan     Prefer not to say 17
196 2.3          Harlow    Male              17
197 0.2          Ahmed     Other             NA

In [4]:
players <- clean_players_data |>
    select(-hashed_email, -subscribed, -name, -gender) |>
    filter(age!= "NA") |>
    filter(hours_played >0.1)
clean_players_data

    experience subscribed
1   experience    NA
2   Pro         TRUE
3   Veteran     TRUE
4   Veteran    FALSE
5   Amateur     TRUE
⋮   ⋮          ⋮
193 Amateur     TRUE
194 Veteran    FALSE
195 Amateur    FALSE
196 Amateur    FALSE
197 Pro         TRUE
    hashed_email
1   hashedEmail
2   f6daba428a5e19a3d47574858c13550499be23603422e6a0ee9728f8b53e192d
3   f3c813577c458ba0dfef80996f8f32c93b6e8af1fa939732842f2312358a88e9
4   b674dd7ee0d24096d1c019615ce4d12b20fcbff12d79d3c5a9d2118eb7ccbb28
5   23fe711e0e3b77f1da7aa221ab1192afe21648d47d2b4fa7a5a659ff443a0eb5
⋮   ⋮
193 b6e9e593b9ec51c5e335457341c324c34a2239531e1890b93ca52ac1dc76b08f
194 71453e425f07d10da4fa2b349c83e73ccdf0fb3312f778b35c5802c3292c87bd
195 d572f391d452b76ea2d7e5e53a3d38bfd7499c7399db299bd4fedb06a46ad5bb
196 f19e136ddde68f365afc860c725ccff54307dedd13968e896a9f890c40aea436
197 d9473710057f7d42f36570f0be83817a4eea614029ff90cf50d8889cdd729d11
    hours_played name      gender            age
1     NA         name      gender            NA
2   30.3         Morgan    Male               9
3    3.8         Christian Male              17
4    0.0         Blake     Male              17
5    0.7         Flora     Female            21
⋮   ⋮            ⋮         ⋮                 ⋮
193 0.0          Bailey    Female            17
194 0.3          Pascal    Male              22
195 0.0          Dylan     Prefer not to say 17
196 2.3          Harlow    Male              17
197 0.2          Ahmed     Other             NA

In [5]:
set.seed(2)

split_data <- initial_split(players, prop = 3/4, strata = hours_played)

training_data <- training(split_data)
testing_data <- testing(split_data)

head(training_data)

Warning message:
“The number of observations in each quantile is below the recommended threshold of 20.
• Stratification will use 3 breaks instead.”

  experience hours_played age
1 Amateur    0.2          22
2 Amateur    0.5          17
3 Regular    0.6          19
4 Beginner   0.6          26
5 Veteran    0.4          20
6 Amateur    0.2          17

In [6]:
set.seed(2)

data_recipe <- recipe(hours_played ~ age, data = training_data) |>
  step_scale(all_predictors()) |>
  step_center(all_predictors())

data_spec <- nearest_neighbor(weight_func = "rectangular",
                              neighbors = tune()) |>
  set_engine("kknn") |>
  set_mode("regression")

data_vfold <- vfold_cv(training_data, v = 5, strata = hours_played)

data_wkflw <- workflow() |>
  add_recipe(data_recipe) |>
  add_model(data_spec)

data_wkflw

Warning message:
“The number of observations in each quantile is below the recommended threshold of 20.
• Stratification will use 2 breaks instead.”

══ Workflow ════════════════════════════════════════════════════════════════════
Preprocessor: Recipe
Model: nearest_neighbor()

── Preprocessor ────────────────────────────────────────────────────────────────
2 Recipe Steps

• step_scale()
• step_center()

── Model ───────────────────────────────────────────────────────────────────────
K-Nearest Neighbor Model Specification (regression)

Main Arguments:
  neighbors = tune()
  weight_func = rectangular

Computational engine: kknn

In [7]:
set.seed(2)

gridvals <- tibble(neighbors = seq(from = 1, to = 50, by = 5))

data_results <- data_wkflw |>
  tune_grid(resamples = data_vfold, grid = gridvals) |>
  collect_metrics() |>
  filter(.metric == "rmse")

data_results

→ A | warning: 46 samples were requested but there were 44 rows in the data. 39 will be used.

There were issues with some computations   A: x1

→ B | warning: 46 samples were requested but there were 45 rows in the data. 40 will be used.

There were issues with some computations   A: x1
There were issues with some computations   A: x1   B: x4

   neighbors .metric .estimator mean     n std_err  .config
1   1        rmse    standard   19.56929 5 8.336109 Preprocessor1_Model01
2   6        rmse    standard   20.63755 5 7.850123 Preprocessor1_Model02
3  11        rmse    standard   19.20547 5 8.169811 Preprocessor1_Model03
4  16        rmse    standard   19.95435 5 7.662529 Preprocessor1_Model04
5  21        rmse    standard   19.44909 5 7.832776 Preprocessor1_Model05
6  26        rmse    standard   18.97222 5 7.992914 Preprocessor1_Model06
7  31        rmse    standard   18.77687 5 7.967049 Preprocessor1_Model07
8  36        rmse    standard   18.54633 5 8.014463 Preprocessor1_Model08
9  41        rmse    standard   18.38991 5 8.082601 Preprocessor1_Model09
10 46        rmse    standard   18.42155 5 8.071210 Preprocessor1_Model10

In [8]:
# show only the row of minimum RMSPE
set.seed(2)

data_min <- data_results |>
  filter(mean == min(mean))

data_min

  neighbors .metric .estimator mean     n std_err  .config
1 41        rmse    standard   18.38991 5 8.082601 Preprocessor1_Model09

In [9]:
kmin <- data_min |> pull(neighbors)

# Define model specification with best K
sacr_spec <- nearest_neighbor(weight_func = "rectangular", neighbors = kmin) |>
  set_engine("kknn") |>
  set_mode("regression")

# Fit the model
data_fit <- workflow() |>
  add_recipe(data_recipe) |>
  add_model(sacr_spec) |>
  fit(data = training_data)

# Predict and evaluate RMSE
data_summary <- data_fit |>
  predict(testing_data) |>
  bind_cols(testing_data) |>
  metrics(truth = hours_played, estimate = .pred) |>
  filter(.metric == "rmse")

data_summary

  .metric .estimator .estimate
1 rmse    standard   76.02733

In [10]:
set.seed(2)


# Create prediction grid over age range
age_prediction_grid <- tibble(
  age = seq(
    from = clean_players_data |> select(age) |> min(),
    to = clean_players_data |> select(age) |> max(),
      by= 10
  )
)


age_prediction_grid

ERROR: Error in seq.default(from = min(select(clean_players_data, age)), to = max(select(clean_players_data, : 'from' must be a finite number